# see http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html#configuration
#
# Rename this file to celeryconfig.py
# Command for test:
# celeryd --loglevel=INFO
BROKER_HOST = 'localhost'
BROKER_PORT = 5672
BROKER_USER = 'myuser'
BROKER_PASSWORD = 'mypassword'
BROKER_VHOST = 'myvhost'
CELERY_IMPORTS = ("tests", )
